$color: hsl(217, 100%, 50%);
$heading: hsl(216, 96%, 19%);
$colorLgt: hsl(217, 86%, 86%);
$white: #ffffff;
$active: red;

body {
 margin: 0;
 padding: 0;; 
}
.App {
  padding: 0 20px;

  .title{
    font-weight: 400;
    color: $heading;
    text-transform: uppercase;
  }

  .pagination{
    padding: 10px 10px;
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      background-color: $white;
      margin:0;
      padding: 2px;
      li{
        background-color: $colorLgt;
        transition: 0.5s ease all;
        a{
          padding: 10px 15px;
          display: block;
        }
      }
      li.selected, li:hover{
        background-color: $color;
        a{
          color: $white;
        }
      }
      li.disabled, li.disabled:hover{
        background-color: rgb(239, 235, 235);
        a{ 
          color: rgb(63, 62, 62);
          cursor: default;
        }
      }
    }
  }
}

.table-style{
  border-collapse: collapse;
  width: 100%;
  th{ 
    height: 40px; 
    color: $heading; 
    text-transform: uppercase;
  }
  td{ padding:5px; }
}
.error{ color: $active; }